/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
  width: 750px;
}

.page-header {
  margin-top: 0px;
}

.panel-body {
  padding-top: 0px;
}

.date {
  padding-bottom: 20px;	
}
