<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bugfree Consulting">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Bugfree Consulting</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bugfree.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">Bugfree Consulting</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	<div class="collapse navbar-collapse navHeaderCollapse">
	  <ul class="nav navbar-nav">
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Software
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li>
		  <a href="https://github.com/ronnieholm/SPCalendarRecurrenceExpander">SPCalendarRecurrenceExpander</a>
		  <a href="https://github.com/ronnieholm/Bugfree.SharePoint.DiagnosticTools/tree/master/src/SPReports">SPReports</a>
		  <a href="https://github.com/ronnieholm/Bugfree.SharePoint.DiagnosticTools/tree/master/src/SPAddInsAutomation">SPAddInsAutomation</a>
		  <a href="https://github.com/ronnieholm/Bugfree.SharePoint.DiagnosticTools/tree/master/src/SPSearchIndexLatency">SPSearchIndexLatency</a>
		  <a href="https://github.com/ronnieholm/Bugfree.SharePoint.DiagnosticTools/tree/master/src/SPTransferSpeed">SPTransferSpeed</a>
		  <a href="https://github.com/ronnieholm/Bugfree.SharePoint.DiagnosticTools/tree/master/src/SPWorkflowLatency">SPWorkflowLatency</a>
		  <a href="https://github.com/ronnieholm/Bugfree.SharePoint.DiagnosticTools/tree/master/src/SPDatabaseInspector">SPDatabaseInspector</a>
		  <a href="https://github.com/ronnieholm/Bugfree.SharePoint.DiagnosticTools/tree/master/src/SPAccessMethodLatency">SPAccessMethodLatency</a>
                  <a href="https://github.com/ronnieholm/Bugfree.Spo.ExternalSharingCenter">SPExternalSharingCenter</a>
                  <a href="https://github.com/ronnieholm/Bugfree.SharePoint.Analyzer">SPAnalyzer</a>
                  <a href="https://github.com/ronnieholm/Bugfree.Spo.Analytics">SPAnalytics</a>
		</li>
	      </ul>
	    </li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{content}}

    <hr>    
    <footer>
      <div class="navbar navbar-default">
	    <div class="container">
	      <p class="navbar-text">
	        Bugfree Consulting | Lysalleen 330 | DK-4000 Roskilde | Phone: +45 206 207 58 |
	        CVR: 325 965 41 | <a href="mailto:mail@bugfree.dk">mail@bugfree.dk</a> | <a href="http://github.com/ronnieholm">github.com/ronnieholm</a> | <a href="http://twitter.com/ronnieholm">twitter.com/ronnieholm</a> | <a href="http://linkedin.com/in/ronnieholm">linkedin.com/in/ronnieholm</a></p>
	    </div>
        <div class="container">
	      <p class="navbar-text">&copy; Bugfree Consulting 2016</p>
        </div>
      </div>
    </footer>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  </body>
</html>

