---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{page.title}}</h1>
      <div class="date">
        <small>{{page.date | date_to_string}}</small>
      </div>
      {{content}}
      <div>
	<b>
	  Have comments or questions?
	  Please <a href="mailto:mail@bugfree.dk?subject={{page.title}}">drop
	  me an email</a> or tweet
	  to <a href="https://twitter.com/ronnieholm">@ronnieholm</a>.
	</b>
      </div>
    </div>
    <div id="sidebar" class="col-md-2">
      <h2>About me</h2>
      <div>
        <p>Hi. I'm Ronnie Holm - Bugfree Consulting is my one-man consultancy and
        software house. I’m on a mission to bring more high quality software
        into the world.</p>
        <a href="http://twitter.com/ronnieholm">Twitter</a>,
        <a href="http://linkedin.com/in/ronnieholm">LinkedIn</a>,
        <a href="http://github.com/ronnieholm">Github</a>
	<p></p>
        <p style="background-color:#222222; color:white;">
          Need <font color="red">debugging services</font>, <font color="yellow">performance optimization services</font>, <font color="lightgreen">end-to-end software development services</font> on the Windows/.NET/JS platforms? Mail me at mail at bugfree.dk.
	</p>
      </div>
    </div>
  </div>
</div>
