---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{page.title}}</h1>
      <div class="date">
        <small>{{page.date | date_to_string}}</small>
      </div>
      {{content}}
    </div>
    <div id="sidebar" class="col-md-2">
      <h2>About me</h2>
      <div>
        I'm Ronnie Holm and I write code for a living.
        <a href="http://twitter.com/ronnieholm">Twitter</a>,
        <a href="http://linkedin.com/in/ronnieholm">LinkedIn</a>,
        <a href="http://github.com/ronnieholm">Github</a>
	<p></p>
        <p>
	  <b>I'm available for contract work. Just drop me a note.</b>
	</p>
      </div>
    </div>
  </div>
</div>
